/* ==========================================================================
   Base Styles
   ========================================================================== */


/* Add breakpoint labels for JS purposes */
@include mq-breakpoints( $sans );


body {
	line-height: 1.5;
	margin: 0 5%;
}

h1 {
	@include font-size( 26px );
	padding-left: fixed-to-em(12px);
	padding-right: fixed-to-rem(13px);
	padding-bottom: fixed-to-percentage(14px);
	padding: percentage( 10px 20em 30rem 40%, 10px );
	margin: percentage( 20px 5px 30px, 26px );
	
}


/* Min-width Tests */
.mq {
	z-index: 1;
	
	// This is just for testing. You would not normally use a media query for the smallest view.
	@include breakpoint( alpha ) {
		color: #D02929;
		z-index: 479;
	}
	
	@include breakpoint( beta ) {
		color: #F98D24;
		z-index: 480;
	}
	
	@include breakpoint( gamma ) {
		color: #F2C20C;
		z-index: 568;
	}
	
	@include breakpoint( delta ) {
		color: #1DA71D;
		z-index: 768;
	}
	
	@include breakpoint( epsilon ) {
		color: #1251BE;
		z-index: 960;
	}
	
	@include breakpoint( zeta ) {
		color: #7411A6;
		font-size: 56px;
		z-index: 1024;
	}
}

/* Max-width Tests */
.mq {
	z-index: 1;
	
	// This is just for testing. You would not normally use a media query for the largest view.
	@include max-breakpoint( zeta ) {
		font-size: 56px;
		z-index: 1024;
	}
	
	@include max-breakpoint( epsilon ) {
		font-size: 48px;
		z-index: 960;
	}
	
	@include max-breakpoint( delta ) {
		font-size: 40px;
		z-index: 768;
	}
	
	@include max-breakpoint( gamma ) {
		font-size: 32px;
		z-index: 658;
	}
	
	@include max-breakpoint( beta ) {
		font-size: 24px;
		z-index: 480;
	}
	
	@include max-breakpoint( alpha ) {
		font-size: 16px;
		z-index: 479;
	}
}


