/* ==========================================================================
   Project Variables
   ========================================================================== */
/* Breakpoints (Label, width, font ratio) */
/* Typography */
/* Colors */
/* Image Path */
/* Bourbon - http://bourbon.io/ */
/* ==========================================================================
   Custom Mixins and Functions
   ========================================================================== */
/* Strip Units */
/* Convert value to px */
/* Convert px to em */
/* Convert ratio to percent */
/* Font Size */
/* Border Radius */
/* Background Color Using RGBA */
/* Background Clip */
/* useful if you don't want a bg color from leaking outside the border */
/* Background Image Text Clip (webkit-only) */
/* High Resolution Media Query (use Bourbon http://bourbon.io/docs/#hidpi-media-query) */
/*@mixin hires-mq( $ratio ) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio), only screen and (min-resolution: ($ratio * 96) + 'dpi') {
		@content;
	}
}*/
/* High Resolution Background Image */
/* Set image path if not previously defined */
/* Add Breakpoint Labels (for use in JS) and base font sizes */
/* Generate Media Queries */
/* Code for Old IE */
/* ==========================================================================
   Custom Helper Styles
   ========================================================================== */
/* HTML5 Boilerplate Styles */
/* Clearfix */
/* Image replacement */
/* Hidden */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */
/* Add breakpoint labels for JS purposes */
html {
  font-family: "alpha";
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 80%;
}

body:after {
  content: "alpha";
  display: none;
}

@media (max-width: 29.9375em) {
  html {
    font-family: "alpha";
  }

  body:after {
    content: "alpha";
  }

  body {
    font-size: 80%;
  }
}
@media (min-width: 30em) and (max-width: 35.4375em) {
  html {
    font-family: "beta";
  }

  body:after {
    content: "beta";
  }

  body {
    font-size: 90%;
  }
}
@media (min-width: 35.5em) and (max-width: 47.9375em) {
  html {
    font-family: "gamma";
  }

  body:after {
    content: "gamma";
  }

  body {
    font-size: 100%;
  }
}
@media (min-width: 48em) and (max-width: 59.9375em) {
  html {
    font-family: "delta";
  }

  body:after {
    content: "delta";
  }

  body {
    font-size: 110.0%;
  }
}
@media (min-width: 60em) {
  html {
    font-family: "epsilon";
  }

  body:after {
    content: "epsilon";
  }

  body {
    font-size: 120%;
  }
}
body {
  line-height: 1.5;
}

h1 {
  font-size: 26px;
  font-size: 1.625em;
}

/* Min-width Tests */
.mq {
  z-index: 1;
  color: #D02929;
  z-index: 479;
}
@media only screen and (min-width: 30em) {
  .mq {
    color: #F98D24;
    z-index: 480;
  }
}
@media only screen and (min-width: 35.5em) {
  .mq {
    color: #F2C20C;
    z-index: 568;
  }
}
@media only screen and (min-width: 48em) {
  .mq {
    color: #1DA71D;
    z-index: 768;
  }
}
@media only screen and (min-width: 60em) {
  .mq {
    color: #1251BE;
    font-size: 56px;
    z-index: 960;
  }
}

/* Max-width Tests */
.mq {
  z-index: 1;
}
@media only screen and (max-width: 60em) {
  .mq {
    font-size: 48px;
    z-index: 960;
  }
}
@media only screen and (max-width: 59.9375em) {
  .mq {
    font-size: 40px;
    z-index: 768;
  }
}
@media only screen and (max-width: 47.9375em) {
  .mq {
    font-size: 32px;
    z-index: 658;
  }
}
@media only screen and (max-width: 35.4375em) {
  .mq {
    font-size: 24px;
    z-index: 480;
  }
}
@media only screen and (max-width: 29.9375em) {
  .mq {
    font-size: 16px;
    z-index: 479;
  }
}
