/* Old IE Stylesheet */
/* ==========================================================================
   Project Variables
   ========================================================================== */
/* Breakpoints */
/* Typography */
/* Colors */
/* Image Path */
/* Bourbon - http://bourbon.io/ */
/* ==========================================================================
   Custom Mixins
   ========================================================================== */
/* Convert value to px */
/* Convert px to em */
/* Border Radius */
/* Background Color Using RGBA */
/* Background Clip */
/* useful if you don't want a bg color from leaking outside the border */
/* Background Image Text Clip (webkit-only) */
/* High Resolution Media Query (use Bourbon http://bourbon.io/docs/#hidpi-media-query) */
/*@mixin hires-mq( $ratio ) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio), only screen and (min-resolution: ($ratio * 96) + 'dpi') {
		@content;
	}
}*/
/* High Resolution Background Image */
/* Set image path if not previously defined */
/* Add Breakpoint Labels (for use in JS) */
/* Generate Media Queries */
/* Code for Old IE */
/* ==========================================================================
   Base Styles
   ========================================================================== */
/* Add breakpoint labels for JS purposes */
/* line 97, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
html {
  font-family: "alpha";
}

/* line 100, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 102, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
body:after {
  content: "alpha";
  display: none;
}

@media (max-width: 29.9375em) {
  /* line 122, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  html {
    font-family: "alpha";
  }

  /* line 123, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  body:after {
    content: "alpha";
  }
}
@media (min-width: 30em) and (max-width: 35.4375em) {
  /* line 139, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  html {
    font-family: "beta";
  }

  /* line 140, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  body:after {
    content: "beta";
  }
}
@media (min-width: 35.5em) and (max-width: 47.9375em) {
  /* line 139, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  html {
    font-family: "gamma";
  }

  /* line 140, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  body:after {
    content: "gamma";
  }
}
@media (min-width: 48em) and (max-width: 59.9375em) {
  /* line 139, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  html {
    font-family: "delta";
  }

  /* line 140, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  body:after {
    content: "delta";
  }
}
@media (min-width: 60em) {
  /* line 129, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  html {
    font-family: "epsilon";
  }

  /* line 130, /Users/twhitehead/Sites/responsive-bootstrap/css/_mixins.scss */
  body:after {
    content: "epsilon";
  }
}
/* Min-width Tests */
/* line 10, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
h1 {
  z-index: 1;
  color: #D02929;
  z-index: 479;
}
@media only screen and (min-width: 30em) {
  /* line 10, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    color: #F98D24;
    z-index: 480;
  }
}
@media only screen and (min-width: 35.5em) {
  /* line 10, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    color: #F2C20C;
    z-index: 568;
  }
}
@media only screen and (min-width: 48em) {
  /* line 10, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    color: #1DA71D;
    z-index: 768;
  }
}
@media only screen and (min-width: 60em) {
  /* line 10, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    color: #1251BE;
    font-size: 56px;
    z-index: 960;
  }
}

/* Max-width Tests */
/* line 42, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
h1 {
  z-index: 1;
}
@media only screen and (max-width: 60em) {
  /* line 42, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    font-size: 48px;
    z-index: 960;
  }
}
@media only screen and (max-width: 59.9375em) {
  /* line 42, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    font-size: 40px;
    z-index: 768;
  }
}
@media only screen and (max-width: 47.9375em) {
  /* line 42, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    font-size: 32px;
    z-index: 658;
  }
}
@media only screen and (max-width: 35.4375em) {
  /* line 42, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    font-size: 24px;
    z-index: 480;
  }
}
@media only screen and (max-width: 29.9375em) {
  /* line 42, /Users/twhitehead/Sites/responsive-bootstrap/css/_base.scss */
  h1 {
    font-size: 16px;
    z-index: 479;
  }
}
